.search-selector {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.address-logo {
    margin: 0 auto;
    width: 160px;
    height: 160px;
}

.screen-buttons {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}
